@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body {
  margin: 0;     /* Remove margins */
  height: 100%;  /* Fill the window */
  font-family: 'Open Sans', sans-serif;
}
.container {
  height: 100%;  /* Fill the window */
  display: flex;
}
#map {
  flex: 2;       /* Fill the available space */
}
#stats {
  min-height: 0; /* Let the content overflow */
  flex: 2;       /* Fill the available space */
}
.filter-panel {
  font: 12px/20px 'Open Sans';
  position: absolute;
  width: 25%;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #fff;
}
.filter-panel div {
  /*border: 1px solid grey;*/
  padding: 15px 0 5px 0;
}
.filter-panel input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}
h2 {
  display: inline;
  color: #000;
  font-size: 20px;
  padding-top: 5px;
  font-weight: normal;
}
.open-closed-filter {
  padding: 10px 0 10px 0;
}
.open-closed-filter label {
  /*float: right;*/
  margin-left: 10px;
  /*margin-top: 13px;*/
  font-size: 15px;
}
.open-closed-filter input[type=checkbox] {
  width:20px;
  height:20px;
}
#month {
  color: #000;
  font-size: 20px;
  padding-top: 5px;
  margin-left: 8px;
}
.neighborhoods-filter ul {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 0px;
  background-color: transparent;
  margin-top: 0px;
}
.neighborhoods-filter li {
  list-style-type: none;
  padding: 3px;
  background-color: transparent;
}
.neighborhoods-filter li:last-child {
  border-bottom: 1px solid #eee;
}

.neighborhoods-filter li:hover {
  background-color: #eee;
}
.neighborhoods-filter input[type=search] {
  font-size: 10pt;
  padding:10px;
}

/* slider styles */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 17.6px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.8px;
  cursor: pointer;
  box-shadow: 0.6px 0.6px 0.9px #000000, 0px 0px 0.6px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 0.3px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.3px 0.3px 0px #000000, 0px 0px 0.3px #0d0d0d;
  border: 0px solid #000000;
  height: 43px;
  width: 13px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7.8px;
  cursor: pointer;
  box-shadow: 0.6px 0.6px 0.9px #000000, 0px 0px 0.6px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 0.3px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.3px 0.3px 0px #000000, 0px 0px 0.3px #0d0d0d;
  border: 0px solid #000000;
  height: 43px;
  width: 13px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0.3px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0.6px 0.6px 0.9px #000000, 0px 0px 0.6px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.3px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0.6px 0.6px 0.9px #000000, 0px 0px 0.6px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.3px 0.3px 0px #000000, 0px 0px 0.3px #0d0d0d;
  border: 0px solid #000000;
  height: 43px;
  width: 13px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
  height: 7.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
